body {
	background: #D1EBF4;
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
}


.blurb h2 {
	color: #4897B2;
	font-weight: 100;
	font-size: 2rem;
}

.blurb p {

	color: #50A8C6;
	font-weight: 100;
	font-size: 1rem;
	line-height: 2rem;
}

.content {
	margin-top: 100px;
	margin-bottom: 100px;
}

#mainNavbar .navbar-brand {
	color: rgb(255, 255, 255);
	font-size: 2rem;
	font-family: 'Zilla Slab Highlight', cursive;
	font-weight: 700;
}

#mainNavbar .navbar-brand:hover {
	color: rgb(241, 116, 220);
}

#navLinks {
	font-size: 1.2rem;
	font-weight: 300;
}

.nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: #4897B2;
}

#headingGroup h1 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	font-size: 3.5rem;
}

#headingGroup h1 span {
	color: #4897B2;
}

@media (max-width: 1400px) {

	#headingGroup h1 {
		color: white;
		text-transform: uppercase;
		text-align: center;
		font-weight: 100;
		font-size: 2.5rem;
	}
}

.navbar.scrolled {
	background:#4897B2;
	transition: background 1500ms;
}

.custom-toggler.navbar-toggler {
    border-color: rgba(255,255,255,0);
}
